{% extends "clubs/base.html" %}

{% block content %}
<h1 class="text-center">Clubs By Day</h1>
<div class="row">
    {% for clubs in clubs_by_day %}
        {% if clubs.1 %}
            <div class="col-sm-2">
                <h4 class="text-center">{{ clubs.0 }}</h4>
                {% for club in clubs.1 %}
                    <hr/>
                    <a href="{% url 'clubs:club_detail' club.id %}"><h5>{{ club.name }}</h5></a>
                    <p class="help-block" style="font-size: 12px;">
                        {{ club.short_description }}
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>
<br/><br/>
{% endblock %}